.appointment {
   padding: 10px;
   .ap_dtls {
      margin-bottom: 20px;
      .title {
         text-align: center;
         margin: 20px 0;
      }
      .react-calendar {
         margin: auto;
         border-radius: 7px;
         padding: 50px 10px;
         border: none !important;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .react-calendar__tile--active {
         border-radius: 7px;
         background-image: $linar_background !important;
         color: white;
      }
   }

   .imgContainer {
      margin: auto;
      max-width: 900px;
   }

   .availbleAppointments {
      margin: 30px 0;
      .title {
         text-align: center;
         font-size: 24px !important;
         color: $paste_green;
      }
   }
}
