@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$paste_green: #00c6bf;
$dark_grey: #3c4456;
$title_font: "Poppins", sans-serif;
$title_font_size: 40px;
$title_font_weight: 600;
$text_font: "Roboto", sans-serif;
$text_font_size: 16px;
$text-font-color: #b5b5b5;
$linar_background: linear-gradient(to bottom left, #00cee5, #1fd4b9);

html,
body {
   padding: 0;
   margin: 0;
   font-family: $text_font;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}
