.About {
   .About_header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .About_title {
         font-weight: bolder;
         color: $paste_green !important;
      }
   }
   .abtCdIcon,
   .abtCdTitle,
   .abtCdText {
      text-align: center;
   }
   .abtCdTitle {
      font-weight: bolder;
      margin: 10px 0;
   }
   .svgWepvdBtn {
      margin: 20px 0;
   }
   .svcDtl {
      margin: 50px 0;
      .imgContainer {
         max-width: 500px !important;
      }

      .description {
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
}
